@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    background: pink;
    color: rgb(32, 32, 32);
}
.title{
    background-color: white;
    font-family: 'Montserrat', sans-serif;

}
