@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    background: rgb(255, 215, 222);
    color: rgb(32, 32, 32);
    margin: 25px 75px 75px 75px;
}
.title{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.headerimg{
    position: relative;
    
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.introp{
    background-color: white;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 180, 221);
    margin-bottom: 20px;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 8px;
}
a:link{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(36, 36, 36);
    
}
a:visited{
    text-decoration: none;
    color: rgb(36, 36, 36);
}
a:hover{
    text-decoration: none;
    color: rgb(185, 3, 110);
}
a:active{
    text-decoration: none;
    color: royalblue;
}
.dropbtn{
    background-color: bisque;
    color: cadetblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(255, 154, 213);
    z-index: 1;
}
.dropdown-content a:hover{
    background-color: rgb(255, 241, 241);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: slategrey;
}
.portfoliobtt{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(36, 36, 36);
}
.portfoliobtt:hover{
    color: rgb(185, 3, 110);

}
.topbtn{
    background-color: azure;
}
h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}
@media only screen and (max-width: 800px){
    img{
        max-width: 90%;
    }
}
