@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    background: rgb(255, 215, 222);
    color: rgb(32, 32, 32);
}
.title{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.headerimg{
    position: relative;
    
}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.introp{
    background-color: white;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 180, 221);
}
li{
    float: left;
}
li a{
    display: block;
    padding: 8px;
}
a:link{
    color: pink;
}
a:visited{
    color: purple;
}
a:hover{
    color: rgb(51, 0, 51);
}
a:active{
    color: royalblue;
}
.dropbtn{
    background-color: bisque;
    color: cadetblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(51, 0, 51);
    z-index: 1;
}
.dropdown-content a:hover{
    background-color: saddlebrown;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: slategrey;
}